.table-view-container {
    width: 100%;
}

.table-view-body {
    display: flex;
    gap: 10px;
    align-items: start;
    flex-wrap: wrap;
}

.table-view-todo {
    flex: 1;
}

.table-view-to-review {
    flex: 1;
}

.table-view-todo,
.table-view-to-review {
    flex: 1;
    min-height: 255px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    width: 100%;

}

@media (max-width: 768px) {
    .table-view-body {
        flex-direction: column;
    }
}

.card-body {
    border: 1px solid var(--them-stroke);
    padding: 12px 16px;
    background: #FAFCFF;
    border-radius: 12px;
    margin-bottom: 16px;
    cursor: pointer;
}

.card-body-header {}

.priority-tag {
    border-radius: 40px;
    border: none;
    padding: 2px 10px;
}

.comment-tag {
    background: var(--them-surface);
    color: var(--them-primary);
    border-radius: 40px;
    border: none;
    padding: 2px 10px;
}

.card-body-footer {
    margin-top: 16px;
}

.task-card-title {
    font-size: 16px;
    font-weight: 700;
    font-family: var(--instrument);
    color: var(--them-black);
}

.task-card-desc {
    color: var(--them-text-gray);
    font-weight: 400;
    font-size: 13px;
    font-family: var(--instrument);
    margin-top: 4px;
}

.table-view-card.ant-card {
    height: 510px !important;
}
.ant-card .ant-card-body{
    padding: 16px;
    width: 100%;
}

.ant-empty {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}