.taskComment-parent {
    display: flex;
    justify-content: center;
    padding-block: 50px;
    align-items: center;
}

.taskComment-container {
    border: 2 solid #F7F7F7;
    border-radius: 8px;
    margin-inline: 34px;
    width: 100%;
    padding: 24px;
}

.task-heading h3 {
    font-size: 28px;
    font-weight: 500;
    color: var(--them-black);
    margin-block: 20px;
}

.taskComment-description {
    margin-top: 30px;
}

.taskComment-btn {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.messagedata {
    padding-bottom: 30px;
}

.taskComments-profile {
    margin-bottom: 0;
}

.taskComments-nameTime {
    display: flex;
    align-items: center;
    gap: 5px;
}

.taskComments-createdAt {
    font-weight: 500;
    font-size: 12px;
}

.taskComments-separator {
    font-size: 20px;
    line-height: 1;
    color: #888;
}

.ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-title {
    margin-bottom: 0;
}

.taskComments-userName {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
}



.taskComments-message {
    color: var(--them-black);
    font-size: 15px;
    margin-bottom: 0;
}

.ant-segmented {
    border: 1px solid var(--them-stroke);
    border-radius: 999px;
    padding: 4px;
    transition: all 0.3s ease;
}

.ant-segmented .ant-segmented-item-label {
    padding: 6px 32px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.ant-segmented .ant-segmented-item-selected {
    background-color: var(--them-primary);
    color: var(--them-white);
    border-radius: 999px;
}


.ant-segmented .ant-segmented-item:hover:not(.ant-segmented-item-selected):not(.ant-segmented-item-disabled)::after {
    background: none !important;
    background-color: none !important;
}

.ant-segmented .ant-segmented-item {
    position: relative;
    text-align: center;
    cursor: pointer;
    transform: translateZ(0);
}

.history-step-description .ant-avatar{
    height: 22px;
    width: 22px;
}